spring:
  datasource:
    url: jdbc:h2:mem:maindb
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  flyway:
    enabled: true
  jpa:
    hibernate:
      ddl-auto: none
    generate-ddl: false
    show-sql: true


logging:
  level:
    org:
      flywaydb: debug
