<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .title {
            text-align: center;
        }

        .entityTable {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .entityTable tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .entityTable td:last-child, td:first-child {
            width: 50px;
        }

    </style>
</head>
<body>
<h1 class="title">Book</h1>

<h3>Books</h3>
<div class="row">
    <a href="home.html" th:href="@{/home}">
        <button type="button">Home</button>
    </a>
</div>
<table class="entityTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genres</th>
    </tr>
    </thead>
    <tbody class="book">
    </tbody>
</table>

<h3>Comments</h3>
<table class="entityTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Text</th>
    </tr>
    </thead>
    <tbody class="comments">
    </tbody>
</table>

<script>
    const bookElem = document.getElementsByClassName("book")[0];
    const bookId = getBookIdFromUrl();
    const books = fetch(`/books/${bookId}`)
        .then(async response => {
            const book = await response.json();
            bookElem.innerHTML =
                `<tr>
                    <td>${book.id}</td>
                    <td>${book.title}</td>
                    <td>${book.author.fullName}</td>
                    <td>
                        ${book.genres.map(genre => (
                    `<span>
                                <span>${genre.name}</span>
                                <br/>
                            </span>`
                ))}
                    </td>
                </tr>`
        })

    const commentsElem = document.getElementsByClassName("comments")[0];
    fetch(`/comments/by-book/${bookId}`)
        .then(async response => {
            const comments = await response.json();
            commentsElem.innerHTML = comments.map(comment => (
                `<tr>
                    <td>${comment.id}</td>
                    <td>${comment.title}</td>
                </tr>`
            ));
        })

    function getBookIdFromUrl() {
        const pathSegments = window.location.pathname.split('/');
        return pathSegments[pathSegments.length - 1];
    }
</script>
</body>
</html>
